name: ravenpy-env
channels:
- conda-forge
- defaults
dependencies:
  - raven-hydro ==3.0.4.322
  - ostrich ==21.03.16
  - python >=3.7
  - cf_xarray
  - click
  - climpred >=2.1
  - dask
  - haversine
  - holoviews
  - hvplot
  - lxml
  - matplotlib
  - numpy
  - owslib
  - pandas<1.3
  - pip
  - pre-commit
  - pydantic
  - pyproj>=3
  - requests
  - scikit-learn ==0.24.2
  - scipy
  - setuptools >50.0
  - shapely
  - statsmodels
  - xarray >=0.18
  - xclim >=0.28.1,<0.29.0
  - xskillscore
  - wheel
