name: ravenpy
channels:
  - conda-forge
  - defaults
dependencies:
  - python >=3.8,<3.12
  - raven-hydro ==0.2.4
  - libgcc  # for mixing raven-hydro from PyPI with conda environments
  - affine
  - cftime
  - cf_xarray
  - click
  - climpred >=2.4.0
  - dask
  - fiona >=1.9
  - flit
  - gdal >=3.1
  - geopandas >=0.13.0
  - h5netcdf
  - haversine
  - holoviews
  - hvplot
  - lxml
  - matplotlib
  - netcdf4
  - numpy <1.25
  - owslib <0.29.0  # see: https://github.com/geopython/OWSLib/issues/871
  - pandas
  - pint >=0.20
  - platformdirs
  - pre-commit
  - pydantic >=1.10.8,<2.0
  - pymbolic
  - pyogrio
  - pyproj >=3.0
  - rasterio
  - requests
  - rioxarray
  - scipy
  - shapely
  - spotpy
  - statsmodels
  - xarray >=2022.12.0,<2023.9.0  # xarray v2023.9.0 is incompatible with xclim<=0.45.0
  - xclim >=0.43
  - xesmf
  - xskillscore
