include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements_dev.txt
include requirements_docs.txt
include requirements_gis.txt

recursive-include ravenpy *.py *.zip *.csv *.rst
recursive-include tests *
recursive-include benchmark *.ipynb *.txt
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif *.ipynb

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs/notebooks/.ipynb_checkpoints *
recursive-exclude docs/_build *
recursive-exclude docs/apidoc *.rst

graft ravenpy/models
graft ravenpy/data

exclude .coveralls.yml
exclude .cruft.json
exclude .editorconfig
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude .yamllint.yaml
exclude Makefile
exclude environment.yml
exclude environment-rtd.yml
exclude mypy.ini
exclude tox.ini
